/*
    Assignment: Module 8
        Author: Shayla Bradley 
          Date: 2/19/23

    This program links to index.html.
*/

body {
	background-color: #BAE06E;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: black;
}

p {
	background-color: #6D7A6D;
}

#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	padding: 10
}