/*
    Assignment: Module 8
        Author: Shayla Bradley 
          Date: 2/19/23

    This program links to index.html.
*/

/* Reset styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global styles */
body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	color: #000000;
	background-color: #BAE06E;
}

a {
	color: #5944AD;
	text-decoration: none;
}

/* Navbar styles */
#navbar {
	background-color: #C5A9E4;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#navbar a {
	font-size: 24px;
	font-weight: bold;
}

/* Image gallery styles */
.image-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0;
}

.image-container {
	flex-basis: calc(33.33% - 20px);
	margin: 10px;
	position: relative;
}

.image-container img {
	width: 100%;
	height: auto;
}

.caption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
	.image-container {
		flex-basis: calc(50% - 20px);
	}
}

@media only screen and (max-width: 480px) {
	.image-container {
		flex-basis: 100%;
	}
}
