/* General Styles */

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0;
  }
  
  a {
	text-decoration: none;
  }
  
  /* Landing Page Styles */
  
  #navbar {
	background-color: #5944AD;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 0 20px;
	color: #BAE06E;
	font-family: 'Source Sans Pro', sans-serif;
  }
  
  #navbar a {
	font-size: 12px;
	color: black;
  }
